:root {
  --background-default: #0f172a;
  --text-default: #94a3b8;
  --text-lighter: #e2e8f0;

  --color-primary: #10b981;
}

html,
body,
#app {
  font-size: 16px;
  background-color: var(--background-default);
  color: var(--text-default);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
.text-light {
  color: var(--text-lighter);
}

.font-larger {
  color: var(--text-lighter);
  font-size: 20px;
  letter-spacing: 1px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--text-default);
}

a:hover {
  color: var(--color-primary);
}

.btn {
  cursor: pointer;
  padding: 8px 25px;
  font-size: inherit;
  display: inline-block;
  font-weight: 500;
  background-color: inherit;
  border: 1px solid var(--color-primary);
  overflow: hidden;
  color: var(--color-primary);
  text-align: center;
}

.btn:hover {
  color: var(--background-default);
  background-color: var(--color-primary);
}
